<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Anonymous+Pro|Nothing+You+Could+Do|Raleway:400,100|Work+Sans|Open+Sans|Roboto|Montserrat|Arvo|Poppins|Cambay' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
